<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<body>
<div class="container">
  <div th:fragment="header">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
          <ul class="nav navbar-nav">
            <li><a href="#" th:href="@{/books}">Books</a></li>
            <li><a href="#" th:href="@{/book/new}">Create book</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="row text-center">
        <div class="">
          <h2>The Royal Library</h2>
          <h3>Things to read</h3>
        </div>
      </div>
      <div class="row text-center">
        <img src="../../../images/bieb.jpg" width="400"
             th:src="@{/images/bieb.jpg}"/>
      </div>
    </div>
  </div>
</div>
</body>
</html>