<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
  <title>Users - Overview</title>
</head>
<body>
<section layout:fragment="header">
  <h1>
    Users
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-inbox"></i> Home</a></li>
    <li>Users</li>
    <li class="active">Overview</li>
  </ol>
</section>
<div layout:fragment="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Overview</h3>

          <!--<div class="box-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                      <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
              </div>
          </div>-->
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive">

          <div class="flex-wrapper" style="display: flex; align-items: center;">
            <div class="btn-group" style="margin: 0 50px 0 20px;">
              <a th:href="@{/user/create}" class="btn btn-app">
                <span class="fa fa-plus"></span> Add
              </a>
            </div>

            <div th:if="${success}" style="flex: 1; margin: 0 30px;">
              <div layout:include="fragments/alert :: alert"
                   th:with="type='success', header='Success!'" th:remove="tag">
                <!--/* Implements alert summary fragment with full-blown HTML summary */-->
                <th:block layout:fragment="alert-content">
                  <p th:text="${success}">Message</p>
                </th:block>
              </div>
            </div>
          </div>


          <table class="table table-hover">
            <tbody>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th width="4%">&nbsp;</th>
            </tr>
            <tr th:each="user : ${users}">
              <td th:text="${user.id}"></td>
              <td th:text="${user.name}"></td>
              <td th:text="${user.email}"></td>
              <td th:text="${user.role}"></td>
              <td>
                <div class="btn-group">
                  <a th:href="@{'/user/edit/' + ${user.id}}" class="btn btn-xs btn-primary"><span
                      class="fa fa-pencil"></span></a>
                  <a th:href="@{'/user/delete/' + ${user.id}}" class="btn btn-xs btn-danger"><span
                      class="fa fa-trash"></span></a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</div>
</body>
</html>
