<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Title</title>

  <link rel="stylesheet" th:href="@{/resources/css/case.css}"/>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
  <div class="row">
    <div th:insert="~{fragments/header :: header}"></div>
  </div>

  <div class="row">
    <form method="POST" enctype="multipart/form-data" th:action="@{/cursussen/toevoegen}">
      <div class="from-group">
        <label for="from">Van:</label>
        <input id="from" class="form-control" type="date" name="from"/>
      </div>
      <div class="from-group">
        <label for="to">Tot:</label>
        <input id="to" class="form-control" type="date" name="to"/>
      </div>
      <div class="form-group">
        <label for="file">Voeg een text bestand hier toe:</label>
        <input id="file" type="file" name="file"/>
      </div>
      <button class="btn btn-default">Opslaan</button>
    </form>
  </div>

  <div class="row">
    <hr>
    <p>
      Wanneer beide datum velden niet zijn ingevuld worden alle cursussen opgeslagen.<br>
      Pas wanneer beide velden zijn ingevuld wordt er gebruik gemaakt van de datum velden.
    </p>
  </div>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>

<script th:href="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:href="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>
