<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Title</title>

  <link rel="stylesheet" th:href="@{/resources/css/case.css}"/>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
  <div class="row">
    <div th:insert="~{fragments/header :: header}"></div>
  </div>

  <div class="row">
    <h3>Schrijf hier een cursist in voor de cursus instantie <span
        th:text="${courseInstance.course.title}"></span></h3>
    <form method="POST" th:action="@{/cursist/inschrijven}">
      <div class="form-group">
        <input th:value="${courseInstance.id}" name="course_instance_id" hidden/>
        <label for="student">Selecteer een cursist om toe te voegen:</label>
        <select id="student" class="form-control" name="student_id">
          <option th:each="student : ${students}"
                  th:value="${student.id}"
                  th:text="${student.firstName + ' ' + student.lastName}">
          </option>
        </select>
      </div>
      <button class="btn btn-default">Opslaan</button>
    </form>
  </div>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>

<script th:href="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:href="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>
