<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean class="nl.infosupport.javaminor.blok1.week4.spring.springlabs.printer.ConsolePrinter"
    id="printer"/>

  <bean class="nl.infosupport.javaminor.blok1.week4.spring.springlabs.xml_config.SetterDI"
    id="setterDI">
    <property name="printerService" ref="printer"/>
  </bean>

  <bean class="nl.infosupport.javaminor.blok1.week4.spring.springlabs.xml_config.ConstructorDI"
    id="constructorDI">
    <constructor-arg ref="printer"/>
  </bean>

  <bean autowire="byType"
    class="nl.infosupport.javaminor.blok1.week4.spring.springlabs.xml_config.AutoWiringDI"
    id="autoWiringDI"/>

  <bean class="nl.infosupport.javaminor.blok1.week4.spring.springlabs.xml_config.FactoryMethodInstantiation"
    factory-method="createInstance"
    id="factoryMethodInstantiation">
    <constructor-arg index="0" ref="printer"/>
    <constructor-arg index="1" value="MyTest"/>
  </bean>

  <bean class="nl.infosupport.javaminor.blok1.week4.spring.springlabs.xml_config.NameFactory"
    id="nameFactory"/>
  <bean factory-bean="nameFactory" factory-method="createNameList" id="names"/>

  <bean class="nl.infosupport.javaminor.blok1.week4.spring.springlabs.others.HitCounter"
    id="hitCounter"
    scope="prototype"/>
  <bean autowire="byType" class="nl.infosupport.javaminor.blok1.week4.spring.springlabs.others.Hitter"
    id="hitter1"/>
  <bean autowire="byType" class="nl.infosupport.javaminor.blok1.week4.spring.springlabs.others.Hitter"
    id="hitter2"/>

  <bean class="nl.infosupport.javaminor.blok1.week4.spring.springlabs.others.DynamicHitter"
    id="hitter3">
    <lookup-method bean="hitCounter" name="getHitCounter"/>
  </bean>

</beans>
