<!DOCTYPE html>
<html layout:decorator="../layout">
<body>
<th:block layout:fragment="alert">
  <div class="alert alert-dismissable" th:classappend="'alert-' + ${type}">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4 th:text="${header}">Alert header</h4>
    <!--/* 'layout:fragment' attribute defines a replaceable content section */-->
    <th:block layout:fragment="alert-content">
      <p>Some fields have wrong or missing information. Please fix them before continuing...</p>
    </th:block>
  </div>
</th:block>
</body>
</html>

