<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
  <title>Exercise Contributors - Overview</title>
</head>
<body>
<section layout:fragment="header">
  <h1>
    Exercise Contributors
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-inbox"></i> Home</a></li>
    <li>Exercise</li>
    <li class="active">Overview</li>
  </ol>
</section>
<div layout:fragment="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Overview</h3>

          <!--<div class="box-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                      <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
              </div>
          </div>-->
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive">

          <div class="flex-wrapper" style="display: flex; align-items: center;">
            <div class="btn-group" style="margin: 0 50px 0 20px;">
              <a th:href="@{'/exercise/contributors/assign/' + ${exercise.id}}" class="btn btn-app">
                <span class="fa fa-plus"></span> Assign
              </a>
            </div>

            <div th:if="${success}" style="flex: 1; margin: 0 30px;">
              <div layout:include="fragments/alert :: alert"
                   th:with="type='success', header='Success!'" th:remove="tag">
                <!--/* Implements alert summary fragment with full-blown HTML summary */-->
                <th:block layout:fragment="alert-content">
                  <p th:text="${success}">Message</p>
                </th:block>
              </div>
            </div>
          </div>


          <table class="table table-hover">
            <tbody>
            <tr>
              <th>Exercise Name</th>
              <th>User Name</th>
              <th>Exercise Status</th>
              <th>User Comment</th>
              <th>User Cellphone</th>
            </tr>
            <tr th:each="contributor : ${contributors}">
              <td th:text="${contributor.exercise.name}"></td>
              <td th:text="${contributor.user.name}"></td>
              <td th:text="${contributor.status}"></td>
              <td th:text="${contributor.comment}"></td>
              <td th:text="${contributor.user.cellphone}"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</div>
</body>
</html>
