<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nl">
<head>
  <meta charset="UTF-8"/>
  <title>Yoboid</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet"
        href="../static/style/style.css"
        th:href="@{style/style.css}"/>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="fragments/header :: menu"></div>

<div class="container">
  <div class="alert alert-info">
    <strong>Informatie!</strong> Home Page
  </div>

  <div class="row">
    <div class="col-md-12">
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque corporis deleniti
        dolore error fugiat illo, ipsa ipsam laudantium, minima minus mollitia, nemo omnis ratione
        sequi
        tempora ullam voluptatibus voluptatum!
      </div>
      <div>Blanditiis et fugiat natus quis quo! Dolor dolorem dolorum eaque molestiae quos
        reprehenderit
        sequi. Eaque fugiat obcaecati quae quia. Accusantium adipisci illo odit sequi suscipit?
        Dolores
        illum molestias nisi sint?
      </div>
      <div>Accusantium aliquid corporis deleniti eveniet illo natus non numquam, obcaecati quasi
        repudiandae! Accusamus ducimus expedita quos reprehenderit. Culpa eligendi illum laboriosam?
        A
        dicta dolores eveniet nesciunt qui sapiente suscipit voluptatem!
      </div>
      <div>Animi aperiam atque blanditiis itaque iure odit possimus tenetur veritatis. Adipisci
        architecto aut consequatur deleniti porro quia totam veritatis. Aut culpa dolores ex
        expedita
        optio perferendis quibusdam sint velit voluptas!
      </div>
      <div>Aut commodi consequatur corporis, deserunt ea eum harum illum laborum laudantium minus
        modi
        mollitia natus nemo nesciunt nihil non officiis perspiciatis praesentium quam repellendus
        soluta
        velit veritatis vero voluptate voluptates.
      </div>
      <div>Aliquam corporis delectus earum expedita facilis illo modi molestias nesciunt
        perferendis!
        Asperiores atque blanditiis cumque eligendi id in laborum magni, maiores neque officia
        perferendis porro rem repudiandae sint vitae voluptatibus.
      </div>
      <div>Asperiores, beatae consectetur corporis deleniti dolor doloribus ea eveniet nihil nisi
        quaerat quibusdam quos vero. Aspernatur eius error et itaque iusto maxime mollitia nostrum
        placeat provident totam. Deserunt, explicabo, nisi.
      </div>
      <div>Aliquam blanditiis consectetur cumque debitis dolores error esse harum inventore ipsam
        laboriosam minima, modi nihil nostrum, numquam placeat praesentium provident quidem ratione
        recusandae rerum sunt temporibus tenetur, ut veniam vitae.
      </div>
      <div>Asperiores assumenda distinctio dolores eligendi eveniet fugit harum impedit iusto labore
        laudantium maiores neque omnis porro, possimus quibusdam quis quo saepe sed similique
        tempora
        totam unde, vel voluptatem voluptatibus voluptatum!
      </div>
      <div>Architecto assumenda aut commodi culpa dignissimos distinctio doloribus eligendi
        explicabo
        hic, id incidunt laborum magnam modi nam nobis officiis omnis perferendis quae qui quo
        repellendus, sunt tempora tenetur, vitae voluptates!
      </div>
    </div>
  </div>
</div>

<div th:include="fragments/footer :: footer"></div>
</body>
</html>
