<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nl">
<head>
  <meta charset="UTF-8"/>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet"
        href="../../static/style/style.css"
        th:href="@{style/style.css}"/>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="menu">
  <nav class="navbar navbar-default xl-navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src="../../static/images/logo.png"
               th:src="@{images/logo.png}"
               width="300"
               height="90"
               alt="logo"/>
        </a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="../vehicle_form.html"
                 th:href="@{/voertuig}">Voertuig</a></li>
          <li><a href="../maintenance_overview.html"
                 th:href="@{/onderhoud}">Onderhoud</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</body>
</html>
